# Prep 200

## Purpose
* In this notebook we will;
    * create our final dataframes to be used in our analysis
    * save all dataframes in an appropriate folder

## Datasets
* Women's Singles matches from 2000 to 2016. This dataset was downloaded from Kaggle.com. Title of the dataset is "Women's Tennis Association Matches".
* Men's Singles Matches from 1968 to 2017. This data has been cleaned in Prep 100 and has been saved as a dataframe and is ready to use.
    * In this notebook we use this dataframe to create an even smaller dataframe of Men's Singles Matches from 2003 to 2014.
* We also created a joint men and women dataframe. This is a merge of the 2 dataframes we created in this notebook.

In [1]:
# Importing relevant libraries
import os
import sys
import hashlib
import numpy as np
import pandas as pd

In [2]:
# We start with the dataframe that was created and saved in Prep 100 notebook
atp_main = pd.read_csv("../data/atp_main", low_memory = False)
atp_main.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,match_year
0,1968-580,Australian Chps.,Grass,64,G,19680119,1,110023,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968.0
1,1968-580,Australian Chps.,Grass,64,G,19680119,2,109803,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968.0
2,1968-580,Australian Chps.,Grass,64,G,19680119,3,100257,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968.0
3,1968-580,Australian Chps.,Grass,64,G,19680119,4,100105,5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968.0
4,1968-580,Australian Chps.,Grass,64,G,19680119,5,109966,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1968.0

## Women's Tennis Association Matches

### Difference
* The Women's Tennis Association Matches data is only from 2003-2014 inclusive. Besides that, it contains the same columns and information as the ATP data.
* It is presented on Kaggle.com as yearly CSV files rather than one, single dataset.

In [3]:
# Concatenation commences
w_2003 = pd.read_csv('../data/wta_matches_2003.csv')
w_2003.shape

(2933, 49)

In [4]:
w_2004 = pd.read_csv('../data/wta_matches_2004.csv')
w_2004.shape

(2805, 49)

In [5]:
w_2005 = pd.read_csv('../data/wta_matches_2005.csv')
w_2005.shape

(2843, 49)

In [6]:
w_2006 = pd.read_csv('../data/wta_matches_2006.csv')
w_2006.shape

(2787, 49)

In [7]:
w_2007 = pd.read_csv('../data/wta_matches_2007.csv')
w_2007.shape

(2778, 49)

In [8]:
w_2008 = pd.read_csv('../data/wta_matches_2008.csv')
w_2008.shape

(2790, 49)

In [9]:
w_2009 = pd.read_csv('../data/wta_matches_2009.csv')
w_2009.shape

(2722, 49)

In [10]:
w_2010 = pd.read_csv('../data/wta_matches_2010.csv')
w_2010.shape

(2781, 49)

In [11]:
w_2011 = pd.read_csv('../data/wta_matches_2011.csv')
w_2011.shape

(2804, 49)

In [12]:
# This encoding option was necessary in this file as it would not read correctly without it
w_2012 = pd.read_csv('../data/wta_matches_2012.csv', encoding='latin=1')
w_2012.shape

(2910, 49)

In [13]:
w_2013 = pd.read_csv('../data/wta_matches_2013.csv')
w_2013.shape

(2776, 49)

In [14]:
w_2014 = pd.read_csv('../data/wta_matches_2014.csv')
w_2014.shape

(2785, 49)

In [15]:
# Joining all these dataframes together to form one, large WTA dataframe
frames = [w_2003, w_2004, w_2005, w_2006, w_2007, 
          w_2008, w_2009, w_2010, w_2011, w_2012, w_2013, w_2014]

In [16]:
wta_dataset = pd.concat(frames)
wta_dataset.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2003-W-SL-FRA-01A-2003,French Open,Clay,128,G,20030526,1,200033,1.0,NaN,...,4.0,0.0,3.0,50.0,35.0,14.0,4.0,NaN,5.0,11.0
1,2003-W-SL-FRA-01A-2003,French Open,Clay,128,G,20030526,2,201306,NaN,NaN,...,12.0,3.0,6.0,129.0,88.0,50.0,11.0,NaN,11.0,21.0
2,2003-W-SL-FRA-01A-2003,French Open,Clay,128,G,20030526,3,200032,NaN,NaN,...,10.0,2.0,5.0,96.0,59.0,33.0,14.0,NaN,12.0,18.0
3,2003-W-SL-FRA-01A-2003,French Open,Clay,128,G,20030526,4,201302,28.0,NaN,...,2.0,0.0,2.0,54.0,33.0,17.0,10.0,NaN,4.0,8.0
4,2003-W-SL-FRA-01A-2003,French Open,Clay,128,G,20030526,5,200046,18.0,NaN,...,13.0,4.0,9.0,124.0,69.0,47.0,26.0,NaN,2.0,8.0

### Adding 'match_year' column

In [17]:
wta_dataset['match_year'] = wta_dataset['tourney_id'].str.split('-').str[0]
wta_dataset.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,match_year
0,2003-W-SL-FRA-01A-2003,French Open,Clay,128,G,20030526,1,200033,1.0,NaN,...,0.0,3.0,50.0,35.0,14.0,4.0,NaN,5.0,11.0,2003
1,2003-W-SL-FRA-01A-2003,French Open,Clay,128,G,20030526,2,201306,NaN,NaN,...,3.0,6.0,129.0,88.0,50.0,11.0,NaN,11.0,21.0,2003
2,2003-W-SL-FRA-01A-2003,French Open,Clay,128,G,20030526,3,200032,NaN,NaN,...,2.0,5.0,96.0,59.0,33.0,14.0,NaN,12.0,18.0,2003
3,2003-W-SL-FRA-01A-2003,French Open,Clay,128,G,20030526,4,201302,28.0,NaN,...,0.0,2.0,54.0,33.0,17.0,10.0,NaN,4.0,8.0,2003
4,2003-W-SL-FRA-01A-2003,French Open,Clay,128,G,20030526,5,200046,18.0,NaN,...,4.0,9.0,124.0,69.0,47.0,26.0,NaN,2.0,8.0,2003

In [18]:
# This WTA (Women's Tour) dataframe has the same number of columns as the ATP (Men's Tour) 
wta_dataset.shape

(33714, 50)

In [19]:
wta_dataset.loser_age.dtypes

dtype('float64')

In [20]:
wta_dataset.winner_age.dtypes

dtype('float64')

* The necessary columns are appropriate for work and analysis.

### Creating a Men's Singles 2003-2014 dataframe -> atp_small

* At this moment we have 2 dataframes; a Men's Singles from 1968-2017 and a Women's Singles from 2003-2014. We need a corresponding Men's Singles dataframe from 2003-2014 to match with the Women's Singles. 
* This is required because we do not have data for women from 1968-2002 and thus we cannot compare the two dataframes completely.

In [21]:
# First locate every match above 2002
atp_test = atp_main.loc[atp_main['match_year'] > 2002]
atp_test.tail()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,match_year
164024,2017-M-DC-2017-WG-M-RUS-SRB-01,Davis Cup WG R1: RUS vs SRB,Hard,4,D,20170203,5,106421,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0
164025,2017-M-DC-2017-WG-M-SUI-USA-01,Davis Cup WG R1: SUI vs USA,Hard,4,D,20170203,1,106058,NaN,NaN,...,4,5,82,52,38,9,13,7,12,2017.0
164026,2017-M-DC-2017-WG-M-SUI-USA-01,Davis Cup WG R1: SUI vs USA,Hard,4,D,20170203,2,104545,NaN,NaN,...,7,9,113,76,53,17,19,7,11,2017.0
164027,2017-M-DC-2017-WG-M-SUI-USA-01,Davis Cup WG R1: SUI vs USA,Hard,4,D,20170203,4,105023,NaN,NaN,...,3,2,76,42,30,14,10,8,10,2017.0
164028,2017-M-DC-2017-WG-M-SUI-USA-01,Davis Cup WG R1: SUI vs USA,Hard,4,D,20170203,5,105449,NaN,NaN,...,1,2,54,27,15,15,9,2,6,2017.0

In [22]:
# And now remove every match after 2014. A new dataframe must be created here
atp_small = atp_test.loc[atp_test['match_year'] < 2015]
atp_small.tail()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,match_year
157673,2014-D078,Davis Cup G2 PO: IRL vs EGY,Hard,4,D,20140404,4,106387,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0
157674,2014-D079,Davis Cup G2 PO: MAR vs CYP,Clay,4,D,20140404,1,108749,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0
157675,2014-D079,Davis Cup G2 PO: MAR vs CYP,Clay,4,D,20140404,2,104467,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0
157676,2014-D079,Davis Cup G2 PO: MAR vs CYP,Clay,4,D,20140404,3,104467,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0
157677,2014-D079,Davis Cup G2 PO: MAR vs CYP,Clay,4,D,20140404,4,109336,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0

In [23]:
# Testing data types
atp_small.dtypes

tourney_id             object
tourney_name           object
surface                object
draw_size              object
tourney_level          object
tourney_date           object
match_num              object
winner_id              object
winner_seed            object
winner_entry           object
winner_name            object
winner_hand            object
winner_ht             float64
winner_ioc             object
winner_age            float64
winner_rank            object
winner_rank_points     object
loser_id               object
loser_seed             object
loser_entry            object
loser_name             object
loser_hand             object
loser_ht               object
loser_ioc              object
loser_age             float64
loser_rank             object
loser_rank_points      object
score                  object
best_of                object
round                  object
minutes               float64
w_ace                 float64
w_df                   object
w_svpt                 object
w_1stIn                object
w_1stWon               object
w_2ndWon               object
w_SvGms                object
w_bpSaved              object
w_bpFaced              object
l_ace                  object
l_df                   object
l_svpt                 object
l_1stIn                object
l_1stWon               object
l_2ndWon               object
l_SvGms                object
l_bpSaved              object
l_bpFaced              object
match_year            float64
dtype: object

In [24]:
# Removes the decimal point in the floats that have been created
pd.options.display.float_format = '{:.0f}'.format

## Joining Men and Women's dataframes

In [25]:
# Joining the ATP and WTA 2003-2014 dataframes
frames_2 = [wta_dataset, atp_small]

In [26]:
men_and_women = pd.concat(frames_2)
men_and_women.winner_name.tail()

157673        Mazen Osama
157674    Sergis Kyratzis
157675      Lamine Ouahab
157676      Lamine Ouahab
157677    Ayoub Chakrouni
Name: winner_name, dtype: object

In [27]:
men_and_women.shape

(71028, 50)

### Saving these newly created dataframes
* Right now, we have 3 dataframes on which we can perform our analysis; a Men's Singles dataframe from 1968-2017 inclusive, a Men's Singles dataframe from 2003-2014 inclusive and a Women's Singles dataframe from 2003-2014.
* These dataframes must be saved in a data folder.

In [28]:
#ATP 2003-2014
atp_small.to_csv('../data/atp_small', index=False, encoding = 'utf-8')

In [29]:
#WTA 2003-2014
wta_dataset.to_csv('../data/wta_dataset', index=False, encoding = 'utf-8')

In [30]:
#Combined ATP and WTA from 2003-2014
men_and_women.to_csv('../data/men_and_women', index=False, encoding = 'utf-8')